<div class="app-toolbar pb-3 pb-md-6 d-flex">
  <div class="me-5">
    <a
      routerLink="active"
      [routerLink]="'/manual-restrictions'"
      class="btn btn-icon btn-light"
    >
      <span
        [inlineSVG]="'./assets/media/icons/duotune/arrows/arr063.svg'"
        class="svg-icon svg-icon-3 text-gray-800 fw-bolder rotate-ar"
      ></span>
    </a>
  </div>
  <div class="page-title d-flex flex-column justify-content-center flex-wrap">
    <h1 class="page-heading d-flex text-dark fw-bold fs-2 my-0">
      {{ manualRestriction ? ("edit" | translate) : ("addNew" | translate) }}
    </h1>
  </div>
</div>
<form [formGroup]="manualRestrictionForm">
  <div class="card mb-5 mb-xxl-8">
    <div class="card-body">
      <div class="row g-5">
        <div class="col-md-6">
          <app-ebtikar-input
            class="disabled-form"
            [type]="'number'"
            [placeholder]="'serial'"
            [label]="'serial'"
            [readonly]="true"
            [control]="docNo"
          ></app-ebtikar-input>
        </div>
        <div class="col-md-6">
          <app-ebtikar-input
            [type]="'datepicker'"
            [placeholder]="'date'"
            [label]="'date'"
            [control]="manualRestrictionForm.get('docDate')!"
          ></app-ebtikar-input>
        </div>
        <div class="col-md-6">
          <app-ebtikar-input
            [type]="'number'"
            [placeholder]="'DocNoManual'"
            [label]="'DocNoManual'"
            [control]="manualRestrictionForm.get('docNoManual')!"
          ></app-ebtikar-input>
        </div>
        <div class="col-md-6">
          <app-ebtikar-select
            [items]="costCenters"
            [hasMultipleLabels]="true"
            [placeholder]="'costCenter'"
            [label]="'costCenter'"
            [bindValue]="'Id'"
            [control]="manualRestrictionForm.get('ccenter')!"
          ></app-ebtikar-select>
        </div>
        <div class="col-md-6">
          <app-ebtikar-select
            [class.disabled-form]="
              helpers.getItemFromLocalStorage(E_USER_ROLE) !== 'Admin'
            "
            [items]="currencies"
            [hasMultipleLabels]="true"
            [placeholder]="'currency'"
            [label]="'currency'"
            [bindValue]="'Id'"
            [control]="manualRestrictionForm.get('currencyId')!"
            (emitChanged)="changeCurrency($event)"
          ></app-ebtikar-select>
        </div>
        <div
          class="col-md-6"
          *ngIf="
            manualRestrictionForm.get('currencyId')!.value &&
            !defaultCurrency?.IsDefault
          "
        >
          <app-ebtikar-input
            [type]="'number'"
            [placeholder]="'ExchangeRate'"
            [label]="'ExchangeRate'"
            [control]="manualRestrictionForm.get('exchangeRate')!"
          ></app-ebtikar-input>
        </div>
        <div class="col-md-6">
          <app-ebtikar-input
            class="disabled-form"
            [type]="'number'"
            [readonly]="true"
            [placeholder]="'CrAmountTotal'"
            [label]="'CrAmountTotal'"
            [control]="totalCredit"
          ></app-ebtikar-input>
        </div>
        <div class="col-md-6">
          <app-ebtikar-input
            class="disabled-form"
            [type]="'number'"
            [readonly]="true"
            [placeholder]="'DrAmountTotal'"
            [label]="'DrAmountTotal'"
            [control]="totalDebit"
          ></app-ebtikar-input>
        </div>
        <div class="col-md-6">
          <app-ebtikar-input
            [type]="'textArea'"
            [placeholder]="'notes'"
            [label]="'notes'"
            [control]="manualRestrictionForm.get('notes')!"
          ></app-ebtikar-input>
        </div>
      </div>
      <div class="row mt-5">
        <p-table
          [columns]="_selectedColumns"
          [value]="linesArray.controls"
          styleClass="p-datatable-gridlines p-datatable-striped"
          [stateKey]="tableStorage"
          columnResizeMode="expand"
        >
          <ng-template pTemplate="caption">
            <button
              type="button"
              class="btn btn-warning"
              (click)="addNewLine()"
            >
              {{ "addRow" | translate }}
            </button>
          </ng-template>
          <ng-template pTemplate="header" let-columns>
            <tr>
              @for (column of columns; track $index) {
              <th class="bg-primary fw-bolder text-white fs-5">
                {{ column.header | translate }}
              </th>
              }
              <th class="bg-primary fw-bolder text-white fs-5">
                {{ "actions" | translate }}
              </th>
            </tr>
          </ng-template>
          <ng-template
            pTemplate="body"
            let-rowData
            let-columns="columns"
            let-i="rowIndex"
          >
            <ng-container formArrayName="glDetail">
              <tr
                [formGroupName]="i"
                [style.background-color]="
                  i % 2 !== 0 ? '#add8e633' : 'rgb(250 250 250)'
                "
              >
                @for (col of columns; track $index) {
                <ng-container [ngSwitch]="col.header">
                  <td
                    *ngSwitchCase="'treasuryTypes'"
                    style="min-width: 200px"
                    appAppArrowFocus
                  >
                    <app-ebtikar-select
                      [customData]="treasuryTypesData[i]"
                      [apiUrl]="treasuryTypesApi"
                      [hasMultipleLabels]="true"
                      [placeholder]="'treasuryTypes'"
                      [bindValue]="'Id'"
                      [searchBy]="'val'"
                      [control]="linesArray.controls[i].get('treasureType')!"
                      (emitChanged)="selectTreasuryType($event, i)"
                    ></app-ebtikar-select>
                  </td>
                  <td
                    *ngSwitchCase="'CrAmount'"
                    style="min-width: 200px"
                    appAppArrowFocus
                  >
                    <app-ebtikar-input
                      type="'number'"
                      [placeholder]="'Credit'"
                      [control]="linesArray.controls[i].get('credit')!"
                      (emitChanged)="getTotalCredit()"
                    ></app-ebtikar-input>
                  </td>
                  <td
                    *ngSwitchCase="'DrAmount'"
                    style="min-width: 200px"
                    appAppArrowFocus
                  >
                    <app-ebtikar-input
                      type="'number'"
                      [placeholder]="'debit'"
                      [control]="linesArray.controls[i].get('debit')!"
                      (emitChanged)="getTotalDebit()"
                    ></app-ebtikar-input>
                  </td>
                  <td
                    *ngSwitchCase="'costCenter'"
                    style="min-width: 200px"
                    appAppArrowFocus
                  >
                    <app-ebtikar-select
                      [items]="costCenters"
                      [hasMultipleLabels]="true"
                      [placeholder]="'costCenter'"
                      [bindValue]="'Id'"
                      [control]="linesArray.controls[i].get('costCenterId')!"
                    ></app-ebtikar-select>
                  </td>
                  <td
                    *ngSwitchCase="'notes'"
                    style="min-width: 200px"
                    appAppArrowFocus
                  >
                    <app-ebtikar-input
                      [placeholder]="'notes'"
                      [control]="linesArray.controls[i].get('notes')!"
                    ></app-ebtikar-input>
                  </td>
                </ng-container>
                }
                <td>
                  <button
                    type="button"
                    class="btn btn-icon btn-danger ms-3"
                    [disabled]="linesArray.value?.length === 1"
                    (click)="removeLine(i)"
                  >
                    <i class="fas fa-trash"></i>
                  </button>
                </td>
              </tr> </ng-container
          ></ng-template>
        </p-table>
      </div>
    </div>
    <div class="card-footer d-flex align-items-activity py-6 px-9">
      <div class="d-flex gap-3 ms-auto">
        <app-submit-button
          [isDisabled]="manualRestrictionForm.invalid"
          [buttonText]="'save'"
          (btnClick)="submit()"
        ></app-submit-button>
      </div>
    </div>
  </div>
</form>
