<div class="app-toolbar pb-3 pb-md-6 d-flex">
  <div class="me-5">
    <a
      routerLink="active"
      [routerLink]="'/manual-restrictions'"
      class="btn btn-icon btn-light"
    >
      <span
        [inlineSVG]="'./assets/media/icons/duotune/arrows/arr063.svg'"
        class="svg-icon svg-icon-3 text-gray-800 fw-bolder rotate-ar"
      ></span>
    </a>
  </div>
  <div class="page-title d-flex flex-column justify-content-center flex-wrap">
    <h1 class="page-heading d-flex text-dark fw-bold fs-2 my-0">
      {{ manualRestriction ? ("edit" | translate) : ("addNew" | translate) }}
    </h1>
  </div>
</div>
<form [formGroup]="manualRestrictionForm">
  <div class="card mb-5 mb-xxl-8">
    <div class="card-body">
      <div class="row g-5">
        <div class="col-md-6">
          <app-ebtikar-input
            class="disabled-form"
            [type]="'number'"
            [placeholder]="'serial'"
            [label]="'serial'"
            [readonly]="true"
            [control]="manualRestrictionForm.get('docNo')!"
          ></app-ebtikar-input>
        </div>
        <div class="col-md-6">
          <app-ebtikar-input
            [type]="'datepicker'"
            [placeholder]="'date'"
            [label]="'date'"
            [control]="manualRestrictionForm.get('docDate')!"
          ></app-ebtikar-input>
        </div>
        <div class="col-md-6">
          <app-ebtikar-input
            [type]="'number'"
            [placeholder]="'DocNoManual'"
            [label]="'DocNoManual'"
            [control]="manualRestrictionForm.get('docNoManual')!"
          ></app-ebtikar-input>
        </div>
        <div class="col-md-6">
          <app-ebtikar-select
            [items]="costCenters"
            [hasMultipleLabels]="true"
            [placeholder]="'costCenter'"
            [label]="'costCenter'"
            [bindValue]="'Id'"
            [control]="manualRestrictionForm.get('ccenter')!"
          ></app-ebtikar-select>
        </div>
        <div class="col-md-6">
          <app-ebtikar-select
            [class.disabled-form]="
              helpers.getItemFromLocalStorage(E_USER_ROLE) !== 'Admin'
            "
            [items]="currencies"
            [hasMultipleLabels]="true"
            [placeholder]="'currency'"
            [label]="'currency'"
            [bindValue]="'Id'"
            [control]="manualRestrictionForm.get('currencyId')!"
            (emitChanged)="changeCurrency($event)"
          ></app-ebtikar-select>
        </div>
        <div
          class="col-md-6"
          *ngIf="
            manualRestrictionForm.get('currencyId')!.value &&
            !defaultCurrency?.IsDefault
          "
        >
          <app-ebtikar-input
            [type]="'number'"
            [placeholder]="'ExchangeRate'"
            [label]="'ExchangeRate'"
            [control]="manualRestrictionForm.get('exchangeRate')!"
          ></app-ebtikar-input>
        </div>
        <div class="col-md-6">
          <app-ebtikar-input
            [type]="'textArea'"
            [placeholder]="'notes'"
            [label]="'notes'"
            [control]="manualRestrictionForm.get('notes')!"
          ></app-ebtikar-input>
        </div>
      </div>
    </div>
  </div>
</form>
