<div
  class="offcanvs-header d-flex justify-content-between align-items-center flex-wrap"
>
  <h3 class="offcanvs-title fw-bolder text-dark">
    {{ "shiftData" | translate }}
  </h3>
  <button
    type="button"
    class="btn-close"
    aria-label="Close"
    (click)="activeDrawer.close()"
  ></button>
</div>
<div class="offcanvs-body">
  <div class="h-100 overflow-auto">
    <form [formGroup]="shiftDataForm">
      <ul
        ngbNav
        #nav="ngbNav"
        class="nav-tabs border-0 justify-content-center mb-3"
      >
        <li ngbNavItem>
          <a
            ngbNavLink
            class="nav-link btn btn-sm btn-color-muted btn-active-primary fw-bold px-4 me-1"
            >{{ "ShiftDetails" | translate }}</a
          >
          <ng-template ngbNavContent>
            <div class="row m-0 g-5 mt-5">
              @if ( helpers.getItemFromLocalStorage(userRole) === 'Admin') {
              <div class="col-md-6">
                <app-ebtikar-input
                  [label]="'TotaltreasuryIn'"
                  [placeholder]="'TotaltreasuryIn'"
                  [control]="shiftDataForm.get('TotaltreasuryIn')!"
                ></app-ebtikar-input>
              </div>
              <div class="col-md-6">
                <app-ebtikar-input
                  [label]="'TotaltreasuryOut'"
                  [placeholder]="'TotaltreasuryOut'"
                  [control]="shiftDataForm.get('TotaltreasuryOut')!"
                ></app-ebtikar-input>
              </div>
              <div class="col-md-6">
                <app-ebtikar-input
                  [label]="'SalesInvoiceReturnNo'"
                  [placeholder]="'SalesInvoiceReturnNo'"
                  [control]="shiftDataForm.get('SalesInvoiceReturnNo')!"
                ></app-ebtikar-input>
              </div>
              <div class="col-md-6">
                <app-ebtikar-input
                  [label]="'SalesInvoiceReturn'"
                  [placeholder]="'SalesInvoiceReturn'"
                  [control]="shiftDataForm.get('SalesInvoiceReturn')!"
                ></app-ebtikar-input>
              </div>
              <div class="col-md-6">
                <app-ebtikar-input
                  [label]="'InvoicesNo'"
                  [placeholder]="'InvoicesNo'"
                  [control]="shiftDataForm.get('InvoicesNo')!"
                ></app-ebtikar-input>
              </div>
              <div class="col-md-6">
                <app-ebtikar-input
                  [label]="'StartCash'"
                  [placeholder]="'StartCash'"
                  [control]="shiftDataForm.get('StartCash')!"
                ></app-ebtikar-input>
              </div>
              <div class="col-md-6">
                <app-ebtikar-input
                  [label]="'DurationCash'"
                  [placeholder]="'DurationCash'"
                  [control]="shiftDataForm.get('DurationCash')!"
                ></app-ebtikar-input>
              </div>
              <div class="col-md-6">
                <app-ebtikar-input
                  [label]="'TotalCash'"
                  [placeholder]="'TotalCash'"
                  [control]="shiftDataForm.get('TotalCash')!"
                ></app-ebtikar-input>
              </div>
              <div class="col-md-6">
                <app-ebtikar-input
                  [label]="'VisaAmount'"
                  [placeholder]="'VisaAmount'"
                  [control]="shiftDataForm.get('VisaAmount')!"
                ></app-ebtikar-input>
              </div>
              <div class="col-md-6">
                <app-ebtikar-input
                  [label]="'BankTransferAmount'"
                  [placeholder]="'BankTransferAmount'"
                  [control]="shiftDataForm.get('BankTransferAmount')!"
                ></app-ebtikar-input>
              </div>
              <div class="col-md-6">
                <app-ebtikar-input
                  [label]="'TotalShift'"
                  [placeholder]="'TotalShift'"
                  [control]="shiftDataForm.get('TotalShift')!"
                ></app-ebtikar-input>
              </div>
              <div class="col-md-6">
                <app-ebtikar-input
                  [label]="'DeficitAmount'"
                  [placeholder]="'DeficitAmount'"
                  [control]="shiftDataForm.get('DeficitAmount')!"
                ></app-ebtikar-input>
              </div>
              }
              <div
                class="d-flex w-100 h-100 align-items-center gap-2"
                appAppArrowFocus
              >
                <input
                  class="form-check-input cursor-pointer"
                  type="checkbox"
                  id="checkbox"
                  (change)="getChangedTreasure($event)"
                />
                <label
                  class="form-check-label text-gray-800 cursor-pointer fw-bold"
                  for="checkbox"
                >
                  {{ "changeTreasury" | translate }}
                </label>
              </div>
              <div class="col-md-6" *ngIf="isTreasureChanged">
                <app-ebtikar-select
                  [items]="Treasuries"
                  [hasMultipleLabels]="true"
                  [bindValue]="'Id'"
                  [placeholder]="'changeTreasuryId'"
                  [label]="'changeTreasuryId'"
                  [control]="shiftDataForm.get('changeTreasuryId')!"
                >
                </app-ebtikar-select>
              </div>
            </div>
          </ng-template>
        </li>

        <li ngbNavItem>
          <a
            ngbNavLink
            class="nav-link btn btn-sm btn-color-muted btn-active-primary fw-bold px-4 me-1"
            >{{ "Expenses&collections" | translate }}</a
          >
          <ng-template ngbNavContent>
            <div class="row m-0 g-5 mt-5">
              <div class="col-md-6">
                <app-ebtikar-input
                  [label]="'treasuryIn'"
                  [placeholder]="'TotalCash'"
                  [control]="shiftDataForm.get('treasuryIn')!"
                ></app-ebtikar-input>
              </div>
              <div class="col-md-6">
                <app-ebtikar-input
                  [label]="'treasuryOut'"
                  [placeholder]="'treasuryOut'"
                  [control]="shiftDataForm.get('treasuryOut')!"
                ></app-ebtikar-input>
              </div>
            </div>
          </ng-template>
        </li>
      </ul>
      <div [ngbNavOutlet]="nav"></div>
    </form>
  </div>
</div>
<div class="offcanvs-footer p-5 pt-0 text-center">
  <div class="d-flex justify-content-end gap-2 gap-lg-3">
    <button class="btn btn-warning" (click)="activeDrawer.close()">
      {{ "ReturnToInvoise" | translate }}
    </button>
    <app-submit-button
      [buttonText]="'CloseSfhift'"
      (btnClick)="closeShift()"
    ></app-submit-button>
  </div>
</div>
