<div class="d-flex justify-content-center mb-5">
  <img
    alt="Logo"
    src="assets/media/logos/logo.jpg"
    style="height: 130px"
    alt="ebtikar logo"
  />
</div>
<div
  class="bg-transparent border border-gray-300 pt-10 px-10 rounded-4 rounder-4 w-100 w-md-500px w-sm-490px m-auto"
>
  <form class="form" [formGroup]="loginForm">
    <div class="text-center mb-11">
      <h1 class="text-dark fw-bolder mb-3">{{ "signIn" | translate }}</h1>
    </div>
    <div class="fv-row mb-5" appAppArrowFocus>
      <app-ebtikar-input
        [label]="'userName'"
        [placeholder]="'userName'"
        [control]="loginForm.get('userName')!"
      >
      </app-ebtikar-input>
    </div>
    <div class="fv-row mb-5" appAppArrowFocus>
      <app-ebtikar-input
        [type]="'password'"
        [label]="'password'"
        [placeholder]="'password'"
        [control]="loginForm.get('password')!"
      >
      </app-ebtikar-input>
    </div>
    <div class="fv-row mb-5" appAppArrowFocus>
      <app-ebtikar-select
        [items]="branches"
        [label]="'branch'"
        [placeholder]="'chooseBranch'"
        [bindValue]="'Id'"
        [bindLabel]="'NameAr'"
        [control]="loginForm.get('branchId')!"
      >
      </app-ebtikar-select>
    </div>
    <div class="d-flex align-items-start gap-2 mb-5" appAppArrowFocus>
      <input
        class="form-check-input cursor-pointer"
        type="checkbox"
        id="checkbox"
        formControlName="rememberMe"
      />
      <label
        class="form-check-label text-gray-800 cursor-pointer fw-bold"
        for="checkbox"
      >
        {{ "rememberMe" | translate }}
      </label>
    </div>
    <div class="d-grid mb-10">
      <app-submit-button
        [buttonText]="'signIn'"
        (btnClick)="submit()"
        [isDisabled]="loginForm.invalid"
      ></app-submit-button>
    </div>
  </form>
</div>
