<div class="app-toolbar mb-5 d-flex flex-stack flex-wrap align-items-center">
  <div class="page-title">
    <h1 class="page-heading d-flex text-dark fw-bold fs-3 my-0">
      {{ "salesSettings" | translate }}
    </h1>
  </div>
</div>

<div class="card mb-5 mb-xxl-8">
  <div class="card-body">
    <div class="row g-5">
      <form [formGroup]="salesSettingsForm">
        <div class="d-flex align-items-start gap-2 mb-5">
          <input
            class="form-check-input cursor-pointer"
            type="checkbox"
            id="checkbox"
            formControlName="roundToTwoNumbers"
          />
          <label
            class="form-check-label text-gray-800 cursor-pointer fw-bold"
            for="checkbox"
          >
            {{ "roundToTwoNumbers" | translate }}
          </label>
        </div>
      </form>
    </div>
  </div>
  <div class="card-footer d-flex align-items-activity py-6 px-9">
    <div class="d-flex gap-3 ms-auto">
      <app-submit-button
        [isDisabled]="salesSettingsForm.invalid"
        [buttonText]="'save'"
        (btnClick)="submit()"
      ></app-submit-button>
    </div>
  </div>
</div>
