<!--begin::Logo-->
<app-sidebar-logo
  class="app-sidebar-logo px-6 pt-6"
  id="kt_app_sidebar_logo"
  [toggleButtonClass]="toggleButtonClass"
  [toggleEnabled]="toggleEnabled"
  [toggleType]="toggleType"
  [toggleState]="toggleState"
>
</app-sidebar-logo>
<!--end::Logo-->

<!--begin::sidebar menu-->
<app-sidebar-menu class="app-sidebar-menu overflow-hidden flex-column-fluid">
</app-sidebar-menu>
<!--end::sidebar menu-->

<ng-container *ngIf="toggleEnabled">
  <!--begin::Sidebar toggle-->
  <div
    id="kt_app_sidebar_toggle"
    class="app-sidebar-toggle btn btn-icon btn-shadow btn-sm btn-color-muted btn-active-color-primary body-bg h-30px w-30px position-absolute bottom-0 translate-middle rotate"
    [ngClass]="toggleButtonClass"
    data-kt-toggle="true"
    [attr.data-kt-toggle-state]="toggleState"
    data-kt-toggle-target="body"
    [attr.data-kt-toggle-name]="toggleAttr"
  >
    <span
      [inlineSVG]="'./assets/media/icons/duotune/arrows/arr079.svg'"
      class="svg-icon svg-icon-2 rotate-180"
    ></span>
  </div>
  <!--end::Sidebar toggle-->
</ng-container>