<div
  id="kt_app_sidebar_menu_wrapper"
  class="app-sidebar-wrapper hover-scroll-overlay-y my-5"
  data-kt-scroll="true"
  data-kt-scroll-activate="true"
  data-kt-scroll-height="auto"
  data-kt-scroll-dependencies="#kt_app_sidebar_logo, #kt_app_sidebar_footer"
  data-kt-scroll-wrappers="#kt_app_sidebar_menu"
  data-kt-scroll-offset="5px"
  data-kt-scroll-save-state="true"
>
  <div
    class="menu menu-column menu-rounded menu-sub-indention px-3"
    id="#kt_app_sidebar_menu"
    data-kt-menu="true"
    data-kt-menu-expand="false"
  >
    <ng-container *ngFor="let item of navItems">
      <div class="menu-item" *ngIf="!item?.children">
        <a
          class="menu-link without-sub"
          [routerLink]="item.route"
          routerLinkActive="active"
        >
          <span class="menu-icon">
            <i [ngClass]="'fa' + ' ' + item.icon"></i>
            <!-- <span
              [inlineSVG]="'./assets/media/icons/duotune/' + item.icon"
              class="svg-icon svg-icon-2"
            >
            </span> -->
          </span>
          <span class="menu-title" [translate]="item.name"></span>
        </a>
      </div>
      <div
        *ngIf="item?.children"
        data-kt-menu-trigger="click"
        routerLinkActive="here show"
        class="menu-item menu-accordion"
      >
        <a class="menu-link">
          <span class="menu-icon">
            <i [ngClass]="'fa' + ' ' + item.icon"></i>
            <!-- <span
              [inlineSVG]="'./assets/media/icons/duotune/' + item.icon"
              class="svg-icon svg-icon-2"
            >
            </span> -->
          </span>
          <span class="menu-title" [translate]="item.name"></span>
          <span class="menu-arrow"></span>
        </a>
        <div
          class="menu-sub menu-sub-accordion"
          routerLinkActive="menu-active-bg"
        >
          <div class="menu-item" *ngFor="let link of item?.children">
            <a
              class="menu-link without-sub"
              [routerLink]="link.route"
              routerLinkActive="active"
              ><span class="menu-bullet"
                ><span class="bullet bullet-dot"></span></span
              ><span class="menu-title">{{ link.title | translate }}</span></a
            >
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</div>
