<!-- MegaMenu -->
<div class="menu-item menu-lg-down-accordion me-lg-1" data-kt-menu-trigger="{default: 'click', lg: 'hover'}"
  data-kt-menu-placement="bottom-start">
  <span class="menu-link py-3">
    <span class="menu-title text-hover-primary">Rapid Access</span>
    <span class="menu-arrow"></span>
  </span>
  <div class="menu-sub menu-sub-lg-down-accordion menu-sub-lg-dropdown p-0 w-100 w-lg-850px">
    <div class="menu-active-bg pt-1 pb-3 px-3 py-lg-6 px-lg-6" data-kt-menu-dismiss="true">
      <div class="row">
        <div class="col-lg-6">
          <div class="row">
            <div class="col-lg-6 mb-3">
              <h4 class="fs-6 fs-lg-4 text-gray-800 fw-bold mt-3 mb-3 ms-4">Sales</h4>
              <div class="menu-item p-0 m-0">
                <a class="menu-link">
                  <span class="menu-bullet">
                    <span class="bullet bullet-dot bg-gray-300i h-6px w-6px"></span>
                  </span>
                  <span class="menu-title">Page 1</span>
                </a>
              </div>
              <div class="menu-item p-0 m-0">
                <a class="menu-link">
                  <span class="menu-bullet">
                    <span class="bullet bullet-dot bg-gray-300i h-6px w-6px"></span>
                  </span>
                  <span class="menu-title">Page 2</span>
                </a>
              </div>
            </div>

            <div class="col-lg-6 mb-3">
              <h4 class="fs-6 fs-lg-4 text-gray-800 fw-bold mt-3 mb-3 ms-4">Customers</h4>
              <div class="menu-item p-0 m-0">
                <a class="menu-link">
                  <span class="menu-bullet">
                    <span class="bullet bullet-dot bg-gray-300i h-6px w-6px"></span>
                  </span>
                  <span class="menu-title">Page 3</span>
                </a>
              </div>

              <div class="menu-item p-0 m-0">
                <a class="menu-link">
                  <span class="menu-bullet">
                    <span class="bullet bullet-dot bg-gray-300i h-6px w-6px"></span>
                  </span>
                  <span class="menu-title">Page 4</span>
                </a>
              </div>
            </div>
          </div>
          <div class="separator separator-dashed mx-lg-5 mt-2 mb-6"></div>
          <div class="d-flex flex-stack flex-wrap flex-lg-nowrap gap-2 mb-5 mb-lg-0 mx-lg-5">
            <div class="d-flex flex-column me-5">
              <div class="fs-6 fw-bold text-gray-800">Layout Builder</div>
              <div class="fs-7 fw-semibold text-muted">Customize view</div>
            </div>
            <a class="btn btn-sm btn-primary fw-bold">Try
              Builder</a>
          </div>
        </div>
        <div class="col-lg-6 mb-3 py-lg-3 pe-lg-8 d-flex align-items-center">
          <img src="assets/media/misc/45.jpg" class="rounded mw-100" alt="">
        </div>
      </div>
    </div>
  </div>
</div>