<div class="app-toolbar pb-3 pb-md-6 d-flex">
  <div class="me-5">
    <a
      routerLink="active"
      [routerLink]="'/payment-vouchers'"
      class="btn btn-icon btn-light"
    >
      <span
        [inlineSVG]="'./assets/media/icons/duotune/arrows/arr063.svg'"
        class="svg-icon svg-icon-3 text-gray-800 fw-bolder rotate-ar"
      ></span>
    </a>
  </div>
  <div class="page-title d-flex flex-column justify-content-center flex-wrap">
    <h1 class="page-heading d-flex text-dark fw-bold fs-2 my-0">
      {{ paymentVoucher ? ("edit" | translate) : ("addNew" | translate) }}
    </h1>
  </div>
</div>
<form [formGroup]="paymentVoucherForm">
  <div class="card mb-5 mb-xxl-8">
    <div class="card-body">
      <div class="row g-5">
        <div class="col-md-6">
          <app-ebtikar-input
            class="disabled-form"
            [type]="'number'"
            [placeholder]="'serial'"
            [label]="'serial'"
            [readonly]="true"
            [control]="paymentVoucherForm.get('docNo')!"
          ></app-ebtikar-input>
        </div>
        <div class="col-md-6">
          <app-ebtikar-input
            [type]="'datepicker'"
            [placeholder]="'date'"
            [label]="'date'"
            [control]="paymentVoucherForm.get('docDate')!"
          ></app-ebtikar-input>
        </div>
        <div class="col-md-6">
          <app-ebtikar-input
            [type]="'number'"
            [placeholder]="'DocNoManual'"
            [label]="'DocNoManual'"
            [control]="paymentVoucherForm.get('docNoManual')!"
          ></app-ebtikar-input>
        </div>
        <div class="col-md-6">
          <app-ebtikar-select
            [class.disabled-form]="
              helpers.getItemFromLocalStorage(USER_PROFILE)
                ?.IsSalesRepresentative
            "
            [hasStaticValues]="true"
            [items]="typeOfDealing"
            [placeholder]="'Typeofpayment'"
            [label]="'Typeofpayment'"
            [bindValue]="'value'"
            [bindLabel]="'name'"
            [control]="paymentVoucherForm.get('typeofpayment')!"
            (emitChanged)="changePaymentType($event)"
          ></app-ebtikar-select>
        </div>
        <div
          class="col-md-6"
          *ngIf="paymentVoucherForm.get('typeofpayment')!.value === 1"
        >
          <app-ebtikar-select
            [items]="banks"
            [hasMultipleLabels]="true"
            [placeholder]="'bank'"
            [label]="'bank'"
            [bindValue]="'Id'"
            [control]="paymentVoucherForm.get('mainBank')!"
          ></app-ebtikar-select>
        </div>
        <div
          class="col-md-6"
          *ngIf="paymentVoucherForm.get('typeofpayment')!.value === 2"
        >
          <app-ebtikar-select
            [class.disabled-form]="
              helpers.getItemFromLocalStorage(E_USER_ROLE) !== 'Admin'
            "
            [items]="treasuries"
            [hasMultipleLabels]="true"
            [placeholder]="'safe'"
            [label]="'safe'"
            [bindValue]="'Id'"
            [control]="paymentVoucherForm.get('treasuryId')!"
          ></app-ebtikar-select>
        </div>
        <div class="col-md-6">
          <app-ebtikar-select
            [hasStaticValues]="true"
            [items]="treasuryTypes"
            [placeholder]="'treasuryTypes'"
            [label]="'treasuryTypes'"
            [bindValue]="'value'"
            [bindLabel]="'name'"
            [control]="paymentVoucherForm.get('treasuryType')!"
            (emitChanged)="changeTreasuryType($event)"
          ></app-ebtikar-select>
        </div>
        <div class="col-md-6">
          <app-ebtikar-select
            [items]="costCenters"
            [hasMultipleLabels]="true"
            [placeholder]="'costCenter'"
            [label]="'costCenter'"
            [bindValue]="'Id'"
            [control]="paymentVoucherForm.get('ccenter')!"
          ></app-ebtikar-select>
        </div>
        <div class="col-md-6">
          <app-ebtikar-select
            [class.disabled-form]="
              helpers.getItemFromLocalStorage(E_USER_ROLE) !== 'Admin'
            "
            [items]="currencies"
            [hasMultipleLabels]="true"
            [placeholder]="'currency'"
            [label]="'currency'"
            [bindValue]="'Id'"
            [control]="paymentVoucherForm.get('curencyId')!"
            (emitChanged)="changeCurrency($event)"
          ></app-ebtikar-select>
        </div>
        <div
          class="col-md-6"
          *ngIf="
            paymentVoucherForm.get('curencyId')!.value &&
            !defaultCurrency?.IsDefault
          "
        >
          <app-ebtikar-input
            [type]="'number'"
            [placeholder]="'ExchangeRate'"
            [label]="'ExchangeRate'"
            [control]="paymentVoucherForm.get('exchangeRate')!"
          ></app-ebtikar-input>
        </div>
        <div class="col-md-6">
          <app-ebtikar-input
            class="disabled-form"
            [type]="'number'"
            [readonly]="true"
            [placeholder]="'TotalAmount'"
            [label]="'TotalAmount'"
            [control]="paymentVoucherForm.get('totalAmount')!"
          ></app-ebtikar-input>
        </div>
        <div class="col-md-6">
          <app-ebtikar-input
            class="disabled-form"
            [type]="'number'"
            [readonly]="true"
            [placeholder]="'TotalVat'"
            [label]="'TotalVat'"
            [control]="paymentVoucherForm.get('totalVat')!"
          ></app-ebtikar-input>
        </div>
        <div class="col-md-6">
          <app-ebtikar-input
            class="disabled-form"
            [type]="'number'"
            [readonly]="true"
            [placeholder]="'equivalentPrice'"
            [label]="'equivalentPrice'"
            [control]="paymentVoucherForm.get('equivalentPrice')!"
          ></app-ebtikar-input>
        </div>

        <div class="col-md-6">
          <app-ebtikar-input
            [type]="'textArea'"
            [placeholder]="'notes'"
            [label]="'notes'"
            [control]="paymentVoucherForm.get('notes')!"
          ></app-ebtikar-input>
        </div>
      </div>
      <div class="row mt-5">
        <p-table
          [columns]="_selectedColumns"
          [value]="linesArray.controls"
          styleClass="p-datatable-gridlines p-datatable-striped"
          [stateKey]="tableStorage"
          columnResizeMode="expand"
        >
          <ng-template pTemplate="caption">
            <button
              type="button"
              class="btn btn-warning"
              (click)="addNewLine()"
            >
              {{ "addRow" | translate }}
            </button>
          </ng-template>
          <ng-template pTemplate="header" let-columns>
            <tr>
              @for (column of columns; track $index) {
              <th class="bg-primary fw-bolder text-white fs-5">
                {{ column.header | translate }}
              </th>
              }
              <th class="bg-primary fw-bolder text-white fs-5">
                {{ "actions" | translate }}
              </th>
            </tr>
          </ng-template>
          <ng-template
            pTemplate="body"
            let-rowData
            let-columns="columns"
            let-i="rowIndex"
          >
            <ng-container formArrayName="treasuryTransactionOutDetails">
              <tr
                [formGroupName]="i"
                [style.background-color]="
                  i % 2 !== 0 ? '#add8e633' : 'rgb(250 250 250)'
                "
              >
                @for (col of columns; track $index) {
                <ng-container [ngSwitch]="col.header">
                  <td
                    *ngSwitchCase="'clients'"
                    style="min-width: 200px"
                    appAppArrowFocus
                  >
                    <app-ebtikar-select
                      [customData]="clientsData[i]"
                      [apiUrl]="clientsApi"
                      [hasMultipleLabels]="true"
                      [placeholder]="'clientName'"
                      [bindValue]="'Id'"
                      [searchBy]="'trim'"
                      [control]="linesArray.controls[i].get('clientId')!"
                      (emitChanged)="selectClientInLine($event, i)"
                    ></app-ebtikar-select>
                  </td>
                  @if (paymentVoucherForm.get('treasuryType')!.value===2) {
                  <td
                    *ngSwitchCase="'invoices'"
                    style="min-width: 200px"
                    appAppArrowFocus
                  >
                    <app-ebtikar-select
                      [items]="clientInvoices[i]"
                      [placeholder]="'invoiceNumber'"
                      [bindValue]="'Id'"
                      [bindLabel]="'DocNo'"
                      [control]="linesArray.controls[i].get('buyInvoiceId')!"
                    ></app-ebtikar-select>
                  </td>
                  }
                  <td
                    *ngSwitchCase="'accounts'"
                    style="min-width: 200px"
                    appAppArrowFocus
                  >
                    <app-ebtikar-select
                      [customData]="accTreeAccountsData[i]"
                      [apiUrl]="accountsApi"
                      [hasMultipleLabels]="true"
                      [placeholder]="'account'"
                      [searchBy]="'AccName'"
                      [bindValue]="'Id'"
                      [control]="linesArray.controls[i].get('accTreeId')!"
                    ></app-ebtikar-select>
                  </td>
                  <td
                    *ngSwitchCase="'banks'"
                    style="min-width: 200px"
                    appAppArrowFocus
                  >
                    <app-ebtikar-select
                      [items]="banksInLine"
                      [hasMultipleLabels]="true"
                      [placeholder]="'bank'"
                      [bindValue]="'Id'"
                      [control]="linesArray.controls[i].get('bankId')!"
                      (emitChanged)="selectBankInLine($event, i)"
                    ></app-ebtikar-select>
                  </td>
                  <td
                    *ngSwitchCase="'safe'"
                    style="min-width: 200px"
                    appAppArrowFocus
                  >
                    <app-ebtikar-select
                      [items]="treasuriesInLine"
                      [hasMultipleLabels]="true"
                      [placeholder]="'safe'"
                      [bindValue]="'Id'"
                      [control]="linesArray.controls[i].get('treasuryId')!"
                      (emitChanged)="selectTreasuryInLine($event, i)"
                    ></app-ebtikar-select>
                  </td>
                  <td
                    *ngSwitchCase="'suppliers'"
                    style="min-width: 200px"
                    appAppArrowFocus
                  >
                    <app-ebtikar-select
                      [items]="suppliers"
                      [hasMultipleLabels]="true"
                      [placeholder]="'supplier'"
                      [bindValue]="'Id'"
                      [control]="linesArray.controls[i].get('supplierId')!"
                      (emitChanged)="selectSupplier($event, i)"
                    ></app-ebtikar-select>
                  </td>
                  @if (paymentVoucherForm.get('treasuryType')!.value===5) {
                  <td
                    *ngSwitchCase="'invoices'"
                    style="min-width: 200px"
                    appAppArrowFocus
                  >
                    <app-ebtikar-select
                      [items]="supplierInvoices[i]"
                      [placeholder]="'invoiceNumber'"
                      [bindValue]="'Id'"
                      [bindLabel]="'DocNo'"
                      [control]="linesArray.controls[i].get('buyInvoiceId')!"
                    ></app-ebtikar-select>
                  </td>
                  }
                  <td
                    *ngSwitchCase="'amount'"
                    style="min-width: 200px"
                    appAppArrowFocus
                  >
                    <app-ebtikar-input
                      type="'number'"
                      [placeholder]="'amount'"
                      [control]="linesArray.controls[i].get('amount')!"
                      (emitChanged)="changeAmount(i)"
                    ></app-ebtikar-input>
                  </td>
                  <td
                    *ngSwitchCase="'costCenter'"
                    style="min-width: 200px"
                    appAppArrowFocus
                  >
                    <app-ebtikar-select
                      [items]="costCenters"
                      [hasMultipleLabels]="true"
                      [placeholder]="'costCenter'"
                      [bindValue]="'Id'"
                      [control]="linesArray.controls[i].get('costCenterId')!"
                    ></app-ebtikar-select>
                  </td>
                  <td
                    *ngSwitchCase="'notes'"
                    style="min-width: 200px"
                    appAppArrowFocus
                  >
                    <app-ebtikar-input
                      [placeholder]="'notes'"
                      [control]="linesArray.controls[i].get('notes')!"
                    ></app-ebtikar-input>
                  </td>
                  <td
                    *ngSwitchCase="'includeVat'"
                    style="min-width: 150px"
                    class="disabled-form"
                    appAppArrowFocus
                  >
                    <input
                      class="form-check-input cursor-pointer"
                      style="width: 2rem; height: 2rem; border-width: 3px"
                      type="checkbox"
                      formControlName="isVatchecked"
                      (change)="changeVat($event, i)"
                    />
                  </td>
                  <td
                    *ngSwitchCase="'vatValue'"
                    style="min-width: 200px"
                    class="disabled-form"
                    appAppArrowFocus
                  >
                    <app-ebtikar-input
                      [type]="'number'"
                      [readonly]="true"
                      [placeholder]="'vatValue'"
                      [control]="linesArray.controls[i].get('vatVal')!"
                    ></app-ebtikar-input>
                  </td>
                  <td
                    *ngSwitchCase="'vatNotes'"
                    style="min-width: 200px"
                    appAppArrowFocus
                  >
                    <app-ebtikar-input
                      [placeholder]="'vatNotes'"
                      [control]="linesArray.controls[i].get('taxNotes')!"
                    ></app-ebtikar-input>
                  </td>
                </ng-container>
                }
                <td>
                  <button
                    type="button"
                    class="btn btn-icon btn-danger ms-3"
                    [disabled]="linesArray.value?.length === 1"
                    (click)="removeLine(i)"
                  >
                    <i class="fas fa-trash"></i>
                  </button>
                </td>
              </tr> </ng-container
          ></ng-template>
        </p-table>
      </div>
    </div>
    <div class="card-footer d-flex align-items-activity py-6 px-9">
      <div class="d-flex gap-3 ms-auto">
        <app-submit-button
          [isDisabled]="paymentVoucherForm.invalid"
          [buttonText]="'save'"
          (btnClick)="submit()"
        ></app-submit-button>
      </div>
    </div>
  </div>
</form>
