<div class="app-toolbar pb-3 pb-md-6 d-flex">
  <div class="me-5">
    <a
      routerLink="active"
      [routerLink]="'/sales-return'"
      class="btn btn-icon btn-light"
    >
      <span
        [inlineSVG]="'./assets/media/icons/duotune/arrows/arr063.svg'"
        class="svg-icon svg-icon-3 text-gray-800 fw-bolder"
      ></span>
    </a>
  </div>
  <div class="page-title d-flex flex-column justify-content-center flex-wrap">
    <h1 class="page-heading d-flex text-dark fw-bold fs-2 my-0">
      {{ "addNew" | translate }}
    </h1>
  </div>
</div>
<form [formGroup]="salesInvoiceForm" class="disabled-form">
  <div class="card mb-5 mb-xxl-8">
    <div class="card-body">
      <div class="row g-5">
        <div class="col-md-6" appAppArrowFocus>
          <label>saleInvoiceId</label>
          <ng-select
            appendTo="body"
            class="disabled-form__enabled"
            formControlName="saleInvoiceId"
            [items]="salesInvoices"
            [bindLabel]="'InvoiceNumber'"
            [bindValue]="'Id'"
            [loading]="salesInvoiceLoading"
            [multiple]="true"
            [virtualScroll]="false"
            [placeholder]="'saleInvoiceId' | translate"
            notFoundText="لم يتم ايجاد بيانات"
            loadingText="جاري التحميل."
            typeToSearchText="اكتب للبحث"
            (add)="filterSaleOrders($event)"
            (remove)="removeSaleOrder($event)"
            (change)="onChangeSource($event)"
            (search)="searchInSaleInvoices($event)"
          ></ng-select>
        </div>
        <div class="col-md-6" appAppArrowFocus>
          <app-ebtikar-select
            [items]="selectClients"
            [placeholder]="'clientName'"
            [label]="'clientName'"
            [bindValue]="'Id'"
            [bindLabel]="'clientName'"
            [clearable]="false"
            [control]="salesInvoiceForm.get('clientId')!"
          ></app-ebtikar-select>
        </div>
        <div class="col-md-6 disabled-form__enabled" appAppArrowFocus>
          <app-ebtikar-select
            [hasStaticValues]="true"
            [items]="paymentTypes"
            [placeholder]="'paymentType'"
            [label]="'paymentType'"
            [bindLabel]="'name'"
            [bindValue]="'value'"
            [control]="salesInvoiceForm.get('paymentType')!"
          ></app-ebtikar-select>
        </div>
        <div
          *ngIf="
            helpers.getItemFromLocalStorage(userRole) === 'Admin' ||
            salesReturnFound?.isSalesPerson
          "
          class="col-md-6 disabled-form__enabled"
          appAppArrowFocus
        >
          <app-ebtikar-input
            [type]="'datepicker'"
            [placeholder]="'date'"
            [label]="'date'"
            [control]="salesInvoiceForm.get('docDate')!"
          ></app-ebtikar-input>
        </div>
      </div>
    </div>
  </div>
</form>
