//
// To make future updates easier consider overriding the global variables from _variables.bootstrap.scss and _variables.custom.scss for current demo in this file.
// Note that this file is included first and variables defined in _variables.bootstrap.scss and _variables.custom.scss
// are not accessible in this file but you can override any global variable as shown below:
//

// Bootstrap color system
$white: #ffffff;

// Theme colors
// Primary
$primary: #172d50;
$primary-active: #0095e8;
$primary-light: #f1faff;
$primary-light-dark: #212e48;
$primary-inverse: $white;

// Success
$success: #2ecc71;
$success-active: #27ae60;
$success-light: #eaf8f0;
$success-light-dark: #1c3238;
$success-inverse: $white;

// Info
$info: #78b6b7;
$info-active: #518283;
$info-light: #bdfdfe;
$info-light-dark: #264041;
$info-inverse: $white;

// Danger
$danger: #e74c3c;
$danger-active: #c0392b;
$danger-light: #fef3f3;
$danger-light-dark: #3a2424;
$danger-inverse: $white;

// Warning
$warning: #ffd740;
$warning-active: #f1bc00;
$warning-light: #fff8dd;
$warning-light-dark: #392f28;
$warning-inverse: $white;

// Timepicker Variables
ngx-material-timepicker-container {
  --primary-font-family: IBMPlexSansArabic, "Helvetica Neue", sans-serif !important;
  --button-color: #fd8101 !important;
  --dial-background-color: #fd8101 !important;
  --dial-editable-active-color: #fd8101 !important;
  --clock-hand-color: #fd8101 !important;
}
