<div class="app-toolbar mb-5 d-flex flex-stack flex-wrap align-items-center">
  <div class="page-title">
    <h1 class="page-heading d-flex text-dark fw-bold fs-3 my-0">
      {{ "salesReturn" | translate }}
    </h1>
  </div>
  <!-- *ngxPermissionsOnly="'SaleInvoice_Return-Create'" -->
  <div class="ms-auto">
    <a class="btn btn-primary" routerLink="/sales-return/add">{{
      "addNew" | translate
    }}</a>
  </div>
</div>
<form [formGroup]="filterForm">
  <div class="row g-5">
    <div class="col-md-3">
      <app-ebtikar-input
        [type]="'datepicker'"
        [label]="'fromDate'"
        [placeholder]="'fromDate'"
        [control]="filterForm.get('fromDate')!"
      ></app-ebtikar-input>
    </div>
    <div class="col-md-3">
      <app-ebtikar-input
        [type]="'datepicker'"
        [label]="'toDate'"
        [placeholder]="'toDate'"
        [control]="filterForm.get('toDate')!"
      ></app-ebtikar-input>
    </div>
  </div>
  <div class="mt-5">
    <button
      [disabled]="filterForm.invalid"
      type="button"
      class="btn btn-primary me-5"
      (click)="applyFilter()"
    >
      {{ "apply" | translate }}
    </button>
    <button
      *ngIf="showClearFilters"
      class="btn btn-light-danger"
      (click)="clearFilters()"
    >
      {{ "clear" | translate }}
    </button>
  </div>
</form>
<!-- *ngxPermissionsOnly="'SaleInvoice_Return-GetAll'" -->
<div class="card mb-5 mb-xxl-8 mt-7">
  <div class="card-body p-0">
    <p-table
      [value]="salesReturnList"
      styleClass="p-datatable-gridlines p-datatable-striped "
      [columns]="_selectedColumns"
      [stateKey]="tableStorage"
      columnResizeMode="expand"
    >
      <ng-template pTemplate="caption">
        <div class="d-flex">
          <span class="p-input-icon-left">
            <p-button
              class="btn btn-ifo"
              (click)="tableService.openMultiselect(ms1)"
              >{{ "hideShowColumns" | translate }}</p-button
            >
            <p-multiSelect
              #ms1
              appendTo="body"
              [options]="allColumns"
              [(ngModel)]="changedColumns"
              optionLabel="header"
              filterBy="translatedName"
              (onPanelHide)="helpers.showOverlay.set(false)"
              (onChange)="changeInHideShow($event)"
            >
              <ng-template let-option pTemplate="Item">
                {{ option.translatedName }}
              </ng-template>
            </p-multiSelect>
          </span>
        </div>
      </ng-template>
      <ng-template pTemplate="header" let-columns>
        <tr>
          @for (column of columns; track $index) {
          <th class="bg-primary fw-bolder text-white fs-5 m min-w-150px">
            {{ column.header | translate }}
          </th>
          }
          <th class="bg-primary fw-bolder text-white fs-5 min-w-150px">
            {{ "actions" | translate }}
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr>
          @for (col of columns; track $index) { @if (col.field==='PaymentType')
          {
          <td>
            {{
              rowData[col.field] === 1
                ? ("cash" | translate)
                : ("debt" | translate)
            }}
          </td>
          }@else {
          <td>{{ rowData[col.field] | formatValue }}</td>
          } }
          <td>
            <!-- *ngxPermissionsOnly="'SaleInvoice_Return-Print'" -->
            <button
              class="btn btn-icon btn-info"
              (click)="downloadPdf(rowData.Id)"
            >
              <i class="fa fa-solid fa-file-invoice fs-2"></i>
            </button>
            <!-- *ngxPermissionsOnly="'SaleInvoice_Return-Delete'" -->
            <button
              class="btn btn-icon btn-danger ms-3"
              (click)="delete(rowData)"
            >
              <i class="fas fa-trash"></i>
            </button>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage" let-columns>
        <tr>
          <td [attr.colspan]="columns?.length + 1">
            {{ "noDataFound" | translate }}
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
  <div class="my-9" *ngIf="pagination.TotalCount! > pagination.PageSize!">
    <ngb-pagination
      [collectionSize]="pagination.TotalCount"
      [(page)]="pageNo"
      [maxSize]="3"
      [rotate]="true"
      [boundaryLinks]="true"
      [pageSize]="pagination.PageSize!"
      (pageChange)="page($event)"
    >
    </ngb-pagination>
  </div>
</div>
