<div class="app-toolbar pb-3 pb-md-6 d-flex">
  <div class="me-5">
    <a
      routerLink="active"
      [routerLink]="'/pricing-policy-lists'"
      class="btn btn-icon btn-light"
    >
      <span
        [inlineSVG]="'./assets/media/icons/duotune/arrows/arr063.svg'"
        class="svg-icon svg-icon-3 text-gray-800 fw-bolder"
      ></span>
    </a>
  </div>
  <div class="page-title d-flex flex-column justify-content-center flex-wrap">
    <h1 class="page-heading d-flex text-dark fw-bold fs-2 my-0">
      {{ "addNew" | translate }}
    </h1>
  </div>
  <div class="ms-auto" *ngIf="!pricingPolicyLines?.length">
    <app-file-upload (changed)="selectedFile($event)"></app-file-upload>
  </div>
</div>
<form [formGroup]="pricingPolicyListForm">
  <div class="card mb-5 mb-xxl-8">
    <div class="card-body pb-0">
      <div class="row g-5">
        <div class="col-md-6" appAppArrowFocus>
          <app-ebtikar-select
            [items]="pricingPolicesObj?.group"
            [hasMultipleLabels]="true"
            [placeholder]="'PricePolicy'"
            [label]="'PricePolicy'"
            [bindValue]="'Id'"
            [disabled]="priceListData?.Id ? true : false"
            [control]="pricingPolicyListForm.get('PricePolicyId')!"
          ></app-ebtikar-select>
        </div>
        <!-- <div class="col-md-6" appAppArrowFocus>
          <app-ebtikar-select
            [items]="pricingPolicesObj?.itemgroup"
            [uid]="pricingListData?.GroupId"
            [hasMultipleLabels]="true"
            [placeholder]="'ItemGroup'"
            [label]="'ItemGroup'"
            [bindValue]="'Id'"
            [control]="pricingPolicyListForm.get('groupId')!"
          ></app-ebtikar-select>
        </div>
        <div class="col-md-6" appAppArrowFocus>
          <app-ebtikar-select
            [items]="pricingPolicesObj?.Branches"
            [uid]="pricingListData?.Branches"
            [IsMultiple]="true"
            [hasMultipleLabels]="true"
            [placeholder]="'branches'"
            [label]="'branches'"
            [bindValue]="'Id'"
            [control]="pricingPolicyListForm.get('branches')!"
          ></app-ebtikar-select>
        </div> -->
      </div>
      <hr class="mt-10 mb-10" />
      <div class="row">
        <p-table
          [columns]="_selectedColumns"
          [value]="linesArray.controls"
          styleClass="p-datatable-gridlines p-datatable-striped"
          [stateKey]="tableStorage"
          columnResizeMode="expand"
        >
          <ng-template pTemplate="caption">
            <div class="d-block d-md-flex flex-wrap w-100 align-items-center">
              <h2 class="d-flex flex-wrap s-3 mb-5 mb-xl-0">
                <i class="fa-solid fa-cart-shopping text-primary fs-1 me-3"></i>
                {{ "products" | translate }}
              </h2>
              <div
                class="d-flex align-items-center ms-auto justify-content-end"
              >
                <div
                  class="position-relative"
                  *ngIf="pricingPolicyLines?.length"
                >
                  <span
                    [inlineSVG]="
                      './assets/media/icons/duotune/general/gen021.svg'
                    "
                    class="svg-icon svg-icon-2 position-absolute top-50 translate-middle-y ms-4"
                  >
                  </span>
                  <input
                    type="text"
                    class="form-control ps-14"
                    [formControl]="searchControl"
                    [placeholder]="'search' | translate"
                  />
                </div>
                <span class="p-input-icon-left ms-3">
                  <p-button (click)="tableService.openMultiselect(ms1)">{{
                    "hideShowColumns" | translate
                  }}</p-button>
                  <p-multiSelect
                    #ms1
                    appendTo="body"
                    [options]="allColumns"
                    [(ngModel)]="changedColumns"
                    [ngModelOptions]="{ standalone: true }"
                    optionLabel="header"
                    filterBy="translatedName"
                    (onPanelHide)="helpers.showOverlay.set(false)"
                    (onChange)="changeInHideShow($event)"
                  >
                    <ng-template let-option pTemplate="Item">
                      {{ option.translatedName }}
                    </ng-template>
                  </p-multiSelect>
                </span>
              </div>
            </div>
          </ng-template>
          <ng-template pTemplate="header" let-columns>
            <tr>
              @for (column of columns; track $index) {
              <th class="bg-primary fw-bolder text-white fs-5">
                {{ column.header | translate }}
              </th>
              }
              <th class="bg-primary fw-bolder text-white fs-5">Actions</th>
            </tr>
          </ng-template>
          <ng-template
            pTemplate="body"
            let-rowData
            let-columns="columns"
            let-i="rowIndex"
          >
            <ng-container formArrayName="PriceListDetail">
              <tr
                [formGroupName]="i"
                [style.background-color]="
                  i % 2 !== 0 ? '#add8e633' : 'rgb(250 250 250)'
                "
              >
                @for (col of columns; track $index) {
                <ng-container [ngSwitch]="col.header">
                  <td
                    *ngSwitchCase="'Barcode'"
                    style="min-width: 200px"
                    appAppArrowFocus
                  >
                    <app-ebtikar-select
                      [customData]="barcodeItems[i]"
                      [apiUrl]="itemsApi"
                      [searchByTerm]="true"
                      [placeholder]="'Barcode'"
                      [bindValue]="'Barcode'"
                      [bindLabel]="'Barcode'"
                      [control]="linesArray.controls[i].get('ParCode')!"
                      (emitChanged)="selectedItemByBarcode($event, i)"
                    ></app-ebtikar-select>
                  </td>
                  <td
                    *ngSwitchCase="'ItemID'"
                    style="min-width: 200px"
                    appAppArrowFocus
                  >
                    <app-ebtikar-select
                      [customData]="items[i]"
                      [apiUrl]="itemsApi"
                      [searchByTerm]="true"
                      [hasMultipleLabels]="true"
                      [placeholder]="'productName'"
                      [bindValue]="'Id'"
                      [control]="linesArray.controls[i].get('ItemUniteId')!"
                      (emitChanged)="selectedItemByName($event, i)"
                    ></app-ebtikar-select>
                  </td>
                  <td
                    *ngSwitchCase="'Price'"
                    style="min-width: 200px"
                    appAppArrowFocus
                  >
                    <app-ebtikar-input
                      [placeholder]="'price'"
                      [control]="linesArray.controls[i].get('Price')!"
                      (emitChanged)="
                        updatedFieldsList($event, linesArray.controls[i])
                      "
                    ></app-ebtikar-input>
                  </td>
                  <td
                    *ngSwitchCase="'PriceMax'"
                    style="min-width: 200px"
                    appAppArrowFocus
                  >
                    <app-ebtikar-input
                      [placeholder]="'PriceMax'"
                      [control]="linesArray.controls[i].get('PriceMax')!"
                      (emitChanged)="
                        updatedFieldsList($event, linesArray.controls[i])
                      "
                    ></app-ebtikar-input>
                  </td>
                  <td
                    *ngSwitchCase="'PriceMin'"
                    style="min-width: 200px"
                    appAppArrowFocus
                  >
                    <app-ebtikar-input
                      [placeholder]="'PriceMin'"
                      [control]="linesArray.controls[i].get('PriceMin')!"
                      (emitChanged)="
                        updatedFieldsList($event, linesArray.controls[i])
                      "
                    ></app-ebtikar-input>
                  </td>
                  <td
                    *ngSwitchCase="'CommissionPercentage'"
                    style="min-width: 200px"
                    appAppArrowFocus
                  >
                    <app-ebtikar-input
                      [placeholder]="'CommissionPercentage'"
                      [control]="
                        linesArray.controls[i].get('CommissionPercentage')!
                      "
                      (emitChanged)="
                        updatedFieldsList($event, linesArray.controls[i])
                      "
                    ></app-ebtikar-input>
                  </td>
                  <td
                    *ngSwitchCase="'CommissionValue'"
                    style="min-width: 200px"
                    appAppArrowFocus
                  >
                    <app-ebtikar-input
                      [placeholder]="'commissionValue'"
                      [control]="linesArray.controls[i].get('CommissionValue')!"
                      (emitChanged)="
                        updatedFieldsList($event, linesArray.controls[i])
                      "
                    ></app-ebtikar-input>
                  </td>
                  <td *ngSwitchDefault style="min-width: 115px">
                    {{
                      col?.header
                        | tableColumnData : rowData.value
                        | formatValue
                    }}
                  </td>
                </ng-container>
                }
                <td>
                  <button
                    type="button"
                    class="btn btn-icon btn-danger ms-3"
                    (click)="remove(i)"
                  >
                    <i class="fas fa-trash"></i>
                  </button>
                </td>
              </tr>
            </ng-container>
          </ng-template>
        </p-table>
        <div
          class="my-9"
          *ngIf="
            pricingPolicyLines?.length &&
            pagination.TotalCount! > pagination.PageSize!
          "
        >
          <ngb-pagination
            [collectionSize]="pagination.TotalCount"
            [(page)]="pagination.PageNumber!"
            [maxSize]="3"
            [rotate]="true"
            [boundaryLinks]="true"
            [pageSize]="pagination.PageSize!"
            (pageChange)="page($event)"
          >
          </ngb-pagination>
        </div>
      </div>
    </div>
    <div class="card-footer d-flex align-items-activity py-6 px-9">
      <div class="d-flex gap-3 ms-auto">
        <app-submit-button
          [isDisabled]="pricingPolicyListForm.invalid"
          [buttonText]="'save'"
          (btnClick)="submit()"
        ></app-submit-button>
      </div>
    </div>
  </div>
</form>
